<div class="container" ng-show="authentication.user" data-ng-controller="HeaderController">
    <a href="/" class="logo">
        <img src="blue-moonV1.0.3/img/logo.png" alt="Logo"/>
    </a>
    <div class="user-profile">
        <div class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <img src="blue-moonV1.0.3/img/profile1.png" alt="Profile-Image">
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu pull-right">
                <li>
                    <a href="/#!/settings/profile">
                        Edit Profile
                    </a>
                </li>
                <li data-ng-show="authentication.user.provider === 'local'">
                    <a href="/#!/settings/password">
                        Change Password
                    </a>
                </li>
                <li>
                    <a href="/auth/signout">
                        Logout
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>


