<section data-ng-controller="HeaderController" ng-show="authentication.user">

    <!-- Top Nav Start -->
    <div class="top-nav hidden-xs hidden-sm">
        <ul>
            <li data-ng-repeat="item in menu.items" data-ng-if="item.shouldRender(authentication.user);" ui-route="{{item.uiRoute}}">
                <a href="/#!/{{item.link}}" ng-class="{selected: ($uiRoute)}">
                    <i class="fa {{item.iconClass}}"></i>
                    {{item.title}}
                </a>
            </li>
        </ul>
        <div class="clearfix"></div>
    </div>
    <!-- Top Nav End -->

    <!-- Sub Nav Start -->
    <div class="sub-nav">
        <ul>
        <span data-ng-repeat="item in menu.items" data-ng-if="item.shouldRender(authentication.user);" ui-route="{{item.uiRoute}}">

            <li><a href="" class="heading" ng-if="$uiRoute">{{item.title}}</a></li>
            <section ng-show="$uiRoute" data-ng-repeat="subitem in item.items" data-ng-if="subitem.shouldRender(authentication.user);" ui-route="{{subitem.uiRoute}}">

                <li class="hidden-sm hidden-xs">
                    <a href="#" ng-click="{{subitem.link}}">
                        {{subitem.title}}
                    </a>
                </li>
            </section>

        </span>

        </ul>
        <input type="search" placeholder="Search" class="input-search hidden-xs hidden-sm" />
        <div class="btn-group pull-right hidden-lg hidden-md">
            <button class="btn btn-danger btn-sm">
                <i class="fa fa-bars"></i>
            </button>
            <button data-toggle="dropdown" class="btn btn-danger btn-sm dropdown-toggle">
                <span class="caret"></span>
            </button>
        </div>
    </div>
    <!-- Sub Nav End -->


</section>