[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

.loading-mask{
    background-image: url('/modules/core/img/loaders/small-loader.gif');
    background-repeat: no-repeat;
    background-position: center center;
}
