<section data-ng-controller="CategoriesController">
    <form class="form-horizontal" data-ng-submit="create()" novalidate>
        <div class="modal-header">
            <h3 class="modal-title">New Category</h3>
        </div>
        <div class="modal-body">


                    <fieldset>
                        <div class="form-group">
                            <label class="control-label" for="name">Name</label>
                            <div class="controls">
                                <input type="text" focus-me data-ng-model="name" id="name" class="form-control" placeholder="Name" required>
                            </div>
                        </div>
                        <div data-ng-show="error" class="text-danger">
                            <strong data-ng-bind="error"></strong>
                        </div>
                    </fieldset>

        </div>
        <div class="modal-footer">
            <input class="btn btn-primary" type="submit" value="Save" class="btn btn-default">
            <a class="btn btn-danger" ng-click="closeModal()">Cancel</a>
        </div>
    </form>
</section>
